
<footer [ngClass]="{home_page: globals.footerhome}">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h3 class="text-center">Advancing the Finance Profession Worldwide</h3>
        <div class="address_footer"><span>Association for Financial Professionals</span><span>&nbsp;&nbsp;&nbsp;&nbsp;<i>|</i>&nbsp;&nbsp;&nbsp;&nbsp;4520 East-West Highway, Suite 800</span><span>&nbsp;&nbsp;&nbsp;&nbsp;<i>|</i>&nbsp;&nbsp;&nbsp;&nbsp;Bethesda, MD 20814, USA&nbsp;&nbsp;&nbsp;&nbsp;<i>|</i>&nbsp;&nbsp;&nbsp;&nbsp;</span> <a href="tel:+1.301.907.2862">+1 301.907.2862</a></div>
        <div class="border_footer">Copyright &copy; 2018  Association for Financial Professionals - All rights reserved. </div>
      </div>
    </div>
  </div>
</footer>