<div class="loader_new" *ngIf="globals.isLoading">
    <div style="position: fixed; z-index: 9999; top: 38%; left: 45%;">
        <div class="loader"></div>
        <div style="color: #fff; margin-top: 10px; text-align: center;"><strong>Processing...</strong></div>
    </div>
</div>

<app-header *ngIf="globals.IsLoggedIn"></app-header> 
    <div [ngClass]="{'wrapper':globals.IsLoggedIn}"> 
        <app-left-menu *ngIf="globals.IsLoggedIn"></app-left-menu> 
        <router-outlet></router-outlet>
        <app-footer *ngIf="globals.IsLoggedIn"></app-footer>
    </div> 



