

<!-- Inner Section -->
<div class="inner_content">
  <div class="container ">
    <div class="row">
        <div class="col-md-12">
            <h2>AFP Corporate Training Skills Assessment</h2>
            <h1>Forgot Password?</h1>
          <h5>Enter your email address below and we'll get you back on track.</h5>
          <div class="col-md-5 col-sm-6 form_bg">
        <div class="clearfix"></div>
		<div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">  </button>
  {{globals.message}}
</div>
        <form #fgpassForm="ngForm" (ngSubmit)="addFgpass(fgpassForm)">
          <div class="form-group">
                                    <label><span>*</span>Email</label>
                                    <input type="email" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" #EmailAddress="ngModel" [(ngModel)]="fgpassEntity.EmailAddress" name="EmailAddress" [ngClass]="{red_border: (EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)}" required/>  
                                    <span class="error_span" *ngIf="(EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)"> 
                                        <span *ngIf="EmailAddress.errors.required || (EmailAddress.pristine && submitted)">Please enter your email</span>
                                        <span *ngIf="EmailAddress.errors && EmailAddress.errors.pattern">
                                          Please enter valid email
                                        </span>
                                        </span>
                                </div>
          <a routerLink="/login/" class="red_btn pull-left"><span>Sign In</span></a>
          <button class="next_btn pull-right" type="submit"><span>Submit</span></button>
        </form>
        <div class="clearfix"></div>
      </div>
    </div></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section --> 