
<div class="clearfix"></div>
<!-- End Header Section --> 

<!-- Inner Section -->
<div class="welcome_content">
  <div class="container">
    <div class="row">
      <div class="welcome_text"><span class="small_text">AFP Corporate Training Skills Assessment</span> YOU ARE NOW REGISTERED.
        <div class="clearfix"></div>
        <a routerLink="/assessment_details" class="next_btn"><span>Start Your Assessment</span></a> </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>