<div class="body-Login-back">
    <div class="white_bg">
        <div class="container">
        
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center logo-margin ">
                <a href="#"><img src="assets/img/logo_home.png" alt=""/></a>
                    </div>
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">                  
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Sign In</h3>
                        </div>
                        <div class="panel-body">
                            <div class="alert alert-danger" role="alert" *ngIf="invalid">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                Invalid username or password.
                            </div>
                            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                                <div class="form-group">
                                    <label><span>*</span>Email</label>
                                    <input type="email" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" #EmailAddress="ngModel" [(ngModel)]="loginEntity.EmailAddress" name="EmailAddress" [ngClass]="{red_border: (EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)}" required/>  
                                    <span class="error_span" *ngIf="(EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)"> 
                                        <span *ngIf="EmailAddress.errors.required || (EmailAddress.pristine && submitted)">Please enter email</span>
                                        <span *ngIf="EmailAddress.errors && EmailAddress.errors.pattern">
                                            Please enter a valid email
                                        </span>
                                        </span>
                                </div>
                                <div class="form-group">
                                    <label><span>*</span>Password</label>
                                    <input type="password" class="form-control" pattern="[a-zA-Z0-9.-_@$*&!#]{8,}" #Password="ngModel" [(ngModel)]="loginEntity.Password" name="Password" [ngClass]="{red_border: (Password.dirty && Password.invalid) || (Password.pristine && submitted)}" required/>  
                                    <span class="error_span" *ngIf="(Password.dirty && Password.invalid) || (Password.pristine && submitted)"> 
                                        <span *ngIf="Password.errors.required || (Password.pristine && submitted)">Please enter password</span>
                                        <span *ngIf="Password.errors && Password.errors.pattern">
                                            Minimum lenght is 8 character
                                        </span>
                                    </span>
                                </div>                               
                                <div class="text-center">
                                <button type="submit" value="Sign In" [disabled]="btn_disable" class="btn btn-lg btn-login" >Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

