

<!-- Inner Section -->
<div class="inner_content">
    <div class="container ">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2>AFP Corporate Training Skills Assessment</h2>
          <h1>Contact Us</h1>
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="contact_pageblock">
                <div class="contact_address"> <i class="fa fa-map-marker"></i>
                  <p>4520 East-West Highway, Suite 800<br>
                    Bethesda, MD 20814</p>
                </div>
                <div class="contact_address phone_p"> <i class="fa fa-phone"></i>
                  <p> <a href="tel:+1.301.907.2862">+1 301.907.2862</a></p>
                </div>
                <div class="contact_address"> <i class="fa fa-envelope-o"></i>
                  <p> <a href="mailto:info@afponline.com">info@afponline.com</a><br>
                    <a href="mailto:sales@afponline.com">sales@afponline.com</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-sm-6">
              <div class="map_contact">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3101.3431410917483!2d-77.09410588464702!3d38.98466427955729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7c9654ba4e92b%3A0x587b5fbf4ca25c50!2sAssociation+For+Financial+Professionals!5e0!3m2!1sen!2sin!4v1522071992853" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>