<div class="home_banner">
  <ul class="bxslider">
    <li><img src="assets/images/banner.jpg" alt="" class="img-responsive" /></li>
    <li style="display:none;"><img src="assets/images/banner.jpg" alt="" class="img-responsive" /></li>
  </ul>
  <div class="banner_text">
    <div class="title_banner"> <span class="title">AFP Corporate Training<br>
      Skills Assessment </span> Designed for team leads to analyze knowledge gaps.
      <div class="clearfix"></div>
      <a routerLink="/invitation" class="next_btn"><span>Register Now</span></a> </div>
  </div>
</div>


